body {
	margin-top: 0;
}

.site-navi {
	background-image: url("/files/penguin_small.png");
	background-repeat: no-repeat;
	height: 70px;
	padding-bottom: 0;
}

.site-title {
	margin-left: 250px;
	margin-top: 20px;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.site-navi-items a {
	border: 1px dotted;
	margin-left: 0.2em;
	margin-bottom: 1em;
	padding: 0.2em;
}
.site-navi-items {
	font-size: 1em;
}
.site-navi-items a:hover {
	border: 1px dotted black;
}
.singleicslink {
	float: right;
	border: 1px dotted;
	padding: 0.2em;
}
.upcoming-events {
	margin-bottom: 2rem;
}
.upcoming-events h4 {
	margin-bottom: .2rem;
}
