
{{ define "main" }}
  {{- if eq .Kind "taxonomy" }}
  <div class="breadcrumb">
    <a href="{{ "/" | relURL }}{{ .Data.Plural | urlize }}/">{{ .Data.Plural | humanize }}</a> / {{ .Data.Term | humanize }}
  </div>
  {{- else if eq .Kind "section" }}
  <div class="breadcrumb">
    {{ .Title }}
  </div>
  {{- end }}
  <div class="main" role="main">
    {{- if eq .Kind "home" }}
    {{ .Content }}
    {{- else }}
    <section class="list {{ .Kind }}-list">
      {{- $paginator := .Paginator }}
      {{- range $paginator.Pages }}
      <article class="article">
        <a href="{{ .Permalink | relURL }}" class="article-titles">
          <h2 class="article-title">{{ .Title }}</h2>
          {{ with .Params.subtitle }}<h3 class="article-subtitle">{{ . }}</h3>{{ end }}
        </a>
        <ul class="article-meta">
          <li class="article-meta-date"><time>{{ .Date.Format (default "January 2, 2006" $.Site.Params.dateFormat) }}</time></li>
          {{- if .Params.categories }}
          {{- range .Params.categories }}
          <li class="article-meta-categories">
            <a href="{{ "/" | relURL }}categories/{{ . | urlize }}/">
              <i class="fas fa-folder"></i>
              {{ . }}
            </a>&nbsp;
          </li>
          {{- end }}
          {{- end }}
          {{- if .Params.tags }}
          {{- range .Params.tags }}
          <li class="article-meta-tags">
            <a href="{{ "/" | relURL }}tags/{{ . | urlize }}/">
              <i class="fas fa-tag"></i>
              {{ . }}
            </a>&nbsp;
          </li>
          {{- end }}
          {{- end }}
        </ul>
        {{- if .Params.image }}
        <a href="{{ .Permalink | relURL }}"><img src="{{ .Params.image }}" class="article-image" /></a>
        {{- end }}
        <div class="article-content">
          {{- if .Truncated }}
          {{ .Summary }}
          {{- else }}
          {{ .Content }}
          {{- end }}
        </div>
        <div class="article-readmore"><a href="{{ .Permalink | relURL }}">Read more...</a></div>
        <div class="article-floatclear"></div>
      </article>
      {{- end }}
    </section>
    {{ template "_internal/pagination.html" . }}
    {{- end }}
  </div>

{{ end }}
