
<header class="site-header">
  <nav class="site-navi">
    <h1 class="site-title"><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
  </nav>
  <nav class="site-navi-items">
      {{- range .Site.Menus.main }}
      <a href="{{ .URL | safeURL }}" title="{{ .Name }}">{{ .Name }}</a>
      {{- end }}
  </nav>
</header>
<hr class="site-header-bottom">

