
{{ define "main" }}
  {{- if eq .Kind "taxonomy" }}
  <div class="breadcrumb">
    <a href="{{ "/" | relURL }}{{ .Data.Plural | urlize }}/">{{ .Data.Plural | humanize }}</a> / {{ .Data.Term | humanize }}
  </div>
  {{- end }}
  <div class="main" role="main">
    <article class="article">
    {{ if eq .Section "events" }}<a href="/events/index.ics" class="singleicslink">Add to calendar</a>{{ end }}
    <h1>Veranstaltungen</h1>


    <table style="width: 100%">
       <thead>
         <tr>
           <th>Thema</th>
           <th>Datum</th>
           <th>Anzahl Personen</th>
         </tr>
       </thead>
       <tbody>
         {{- range (.Pages.ByParam "start").Reverse }}
         <tr>
	   <td>{{ if .Content }}<a href="{{ .Permalink | relURL }}">{{ .Title }}</a>{{ else }}{{ .Title }}{{ end }}</td>
	   <td>{{- with .Params.start}}{{ dateFormat "2006-01-02" . }}{{end}}</td>
	   <td>{{- with .Params.headcount}}{{ . }}{{end}}</td>
         </tr>
         {{- end }}
       </tbody>
    </table>
    </article>

  </div>

{{ end }}
