{{ $count := or (or (.Get 0) (.Get "count") 3) }}
{{ $pages := first $count ((where (where .Site.Pages "Section" "events") ".Params.start" "ge" (now.Format "2006-01-02")).ByParam "start") }}
<div class="upcoming-events">
{{ range $index, $page := $pages }}
	<div>
			<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>

		{{- with .Params.start}}
		<div>
			<strong>Datum:</strong> {{ dateFormat "2006-01-02 15:04" . }}
		</div>
		{{end}}
		{{- with .Params.location}}
		<div>
			<strong>Ort:</strong> {{ . }}
		</div>
		{{end}}
	</div>
{{ end }}
</div>
